@page
@model ZeroWeb.UI.Pages.PODetail.IndexModel
@{
}
@section EndStyles {

}

@section EndScripts {
    <script src="/apps/PODetail/Index.js"></script>
}

<div class="page-breadcrumb" style="height:40px">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title" style="padding-top:5px">PO Detail</h4>
        </div>
    </div>
</div>
<div style="height: calc(100vh - 90px);width:100%;min-height:500px;overflow: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <div class="card-title">Search PO</div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">PO Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtUsername" placeholder="PO Number Here">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Item Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtFullname" placeholder="Item Code Here">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Order Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtEmail" placeholder="Order Number Here">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                                Search
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm" id="btnAddNew">
                                Add new
                            </button>
                            <button type="button" class="btn btn-dark btn-sm" id="btnClear">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
                        <div id="gridbox" style="min-height:300px; height: 530px; background-color:white;max-width:100%"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
