@page
@model ZeroWeb.UI.Pages.Configuration.Material.IndexModel
@{
}
@section EndStyles {

}

@section EndScripts {
    <script src="/apps/Configuration/Material/Index.js"></script>
}

<div class="page-breadcrumb" style="height:40px">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title" style="padding-top:5px">Material Detail</h4>
        </div>
    </div>
</div>
<div style="height: calc(100vh - 90px);width:100%;min-height:500px;overflow: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 200px">
                    <div class="card-body">
                        <div class="card-title">Search Material</div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Material Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtMaterialCode" value="" placeholder="Material Code Here">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtDescription" placeholder="Description Here">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-md-4 mt-2 text-end">Inspection Type Code</label>
                                    <div class="col-md-8">
                                        <select class="select2 form-select shadow-none" style="width: 100%; height: 36px" id="ddlInspectionType">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                                Search
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm" id="btnAddNew">
                                Add new
                            </button>
                            <button type="button" class="btn btn-dark btn-sm" id="btnClear">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
                        <div id="gridbox" style="min-height:350px; height: 620px; background-color:white;max-width:100%"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<partial name="_MaterialDetail" />
